/* Navbar */
.warnabiru {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.navbar-buatan {
  background-color: red !important;
}

.home-screen {
  background-image: url("./assets/main-bg.jpg");
  height: 150vh;
  background-position: center;
  background-size: cover;
}

.nav-home-screen {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.233);
  opacity: 0.8;
  padding: 10px 100px;
}

.logo {
  font-weight: bolder;
  margin-right: 100px;
}

.logo a {
  color: white;
}

.menu {
  font-weight: bold;
  font-size: 12px;
  margin-right: 30px;
}

.menu a {
  color: white;
}

.lastmenu {
  margin-right: 200px;
}

.bg-text {
  margin-top: 30vh;
}

.bg-text h1 {
  color: white;
  font-weight: bold;
  font-size: 46px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.bg-text h3 {
  color: white;
  font-size: 22px;
  text-align: center;
  font-weight: 200;
}

.the-story {
  margin-top: 250px;
}

.the-story h4 {
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}


/* The Games */

.the-games {
  background-image: url('assets/the-games-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 850px;
  width: 100%;
  margin-top: -35px;
}

.the-games h1 {
color: white;
text-align: center;
margin-top: 30px;


}

.the-games h5 {
  color: white;
  text-align: center;
  margin-top: 200px;
}

.the-games .gameslide {
  text-align: center;
  margin-top: 50px;

}
/* Features */
.features {
  background-image: url(./assets/features.jpg);
  background-position: center;
  background-size: cover;
  height: 850px;
  width: 100%;
}

.konten {
  text-align: justify;
  margin-left: 700px;
  margin-top: 200px;
}

.konten h5 {
  color: white;
}

.konten h1 {
  color: white;
}

.konten h3 {
  color: darkgoldenrod;
}

.konten p {
  color: white;
}


/* Requirements */
.requirements {
  background-image: url(./assets/requirements.png);
  background-position: center;
  background-size: cover;
  height: 850px;
  width: 100%;
}

.requirements h1 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.requirements h5 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.table {
  width: 50%;
  height: 20px;
  margin-left: 100px;
  margin-top: 50px;
}

.table h3 {
  color: orange;
}

table h4 {
  color: white;
}


/* Top Scores */
.top-scores {
  background-image: url('./assets/top-score-bg.png');
  background-position: center;
  background-size: cover;
  height: 850px;
  width: 100%;
}

.score {
  text-align: center;
  color: white;
  margin-top: 250px;
}

.ava1 {
  border-radius: 15px;
  background-color: rgb(44, 44, 44);
  margin-top: 150px;
  margin-left: 100px;
}

.ava2 {
  border-radius: 15px;
  background-color: rgb(44, 44, 44);
  margin-top: 50px;
  margin-left: 100px;
}

.ava3 {
  border-radius: 15px;
  background-color: rgb(44, 44, 44);
  margin-top: 50px;
  margin-left: 100px;
}

.testimoni h2 {
  color: orange;
}

.testimoni h4 {
  color: white;
}

.testimoni h6 {
  color: white;
}

.testimoni p {
  color: white;
}
/* Newslatter */
.newslatters {
  background-image: url(/assets/img_6-newsletter\ \(1\).png);
  background-position: center;
  background-size: cover;
  height: 850px;
  width: 100%;
  color: white;
}

.newslatters h3 {
  margin-top: 200px;
}

.newslatters p {
  text-align: justify;
}

.input-subs {
  width: 250px;
  margin-left: 560px;
}

.subscrib {
  margin-left: 200px;
}


/* Desktop Version */

/* Navbar */
@media (min-width: 992px) {

  .navbar-brand,
  .nav-link {
      color: white !important;
  }

  .nav-link {
      text-transform: uppercase;
      margin-right: 15px;
  }

  .nav-link:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid yellow;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
  }

  /* Tombol */
  .tombol {
      text-transform: uppercase;
  }

  /* Jumbotron Main Screen */
  .jumbotron {
      margin-top: -75px;
  }

  .jumbotron .display-4 {
      font-size: 80px;
  }

  .jumbotron .lead {
      font-size: 20px;
  }

  /* The Game */
  .the-games h1 {
      color: white;
      text-align: center;
      margin-top: 15px;
      
      
      }
      
      .the-games h5 {
          color: white;
          text-align: center;
          margin-top: 350px;
      }
      
      .the-games .gameslide {
          text-align: center;
          margin-top: 250px;
      
      }
}
